<ion-header>
    <ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-title>Listado Alumno</ion-title>
			</ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label >Ramo</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Nota</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >Prom/desv</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;align-self: center;">
      <ion-col col-4>
      <ion-label >Programacion</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >2.5</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >3.8/1.6</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;align-self: center;">
      <ion-col col-4>
      <ion-label >Programacion</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >4.6</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >4.3/0.7</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;align-self: center;">
      <ion-col col-4>
      <ion-label >Estructura de datos</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >4.8</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >4.5/1.2</ion-label>
    </ion-col>
  </ion-row>
  
  </ion-content>
  