<ion-header>
		<ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-title>Home</ion-title>
			</ion-navbar>
</ion-header>

<ion-content padding>
		<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
			<ion-row justify-content-center>
				<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
						<div text-center>
                <ion-img width="100" height="100" src="../assets/imgs/Utem.jpg"></ion-img>

								<h4>Ingreso Plataforma</h4>
						</div>
						<ion-list inset>
							<ion-item>
								<ion-input placeholder="Rut" name="rut" id="loginField"
												 	type="text"></ion-input>
							</ion-item>
							<ion-item>
								<ion-input placeholder="Password" name="password" id="passwordField"
												 	type="password"></ion-input>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div *ngIf="error" class="alert alert-danger">{{error}}</div>
						<button ion-button class="submit-btn" full type="submit"
										[disabled]="!loginForm.form.valid" id="onLogin">Login
						</button>
					</ion-col>
				</ion-row>
			</form>
			<a>
        Restablecer Contraseña
      </a>
</ion-content>
